<%- include("../header"); -%>
<main class="games-main" id="main" data-state="">
  <h1 id="games-header" class="title-is-2">Your Games</h1>


  <%- include("components/search"); -%>

  <label id="loading-sentence" class="hidden">loading:</label>
  <progress id="loading-animation" class="hidden"></progress>

  <%- include("components/table") %>

  <%- include("components/estimate") %>

  <%- include("components/preferences") %>

</main>

<script type="module" src="/javascripts/games.mjs"></script>
<%- include("../footer"); -%>