<%- include("../header"); -%>
<main class="games-main" id="main" data-state="">
  <h1 id="games-header" class="title-is-3">Your Gaming Backlog</h1>


  <%- include("components/search"); -%>


  <%- include("components/table") %>

  <%- include("components/estimate") %>

  <%- include("components/preferences") %>

</main>

<script type="module" src="/javascripts/games.mjs"></script>
<%- include("../footer"); -%>