<%- include("../header"); -%>
<main id="login-main">

  <hgroup id="hero">
    <h1 class="title-is-1">Welcome to your Gaming Backlog</h1>
    <details id="details">
      <summary class="title-is-4">My gaming what?</summary>
      <p>Do you yearn to experience every video game in existence, but aren&apos;t sure how you&apos;ll fit them into
        your
        already busy schedule of eating doritos and watching anime? <wbr /><b>Then this site is for you! </b><wbr />We&apos;ll
      record all the
      games you want to play, work out how long it takes to finish them all, and estimate how
      many
      days these games will deduct from your single precious life.
      </p>
    </details>
  </hgroup>


  <article id="login-block">
    <hgroup class="title-group">
      <h2 class="title-is-3">Log In</h2>
      <p>Log into your account</p>
    </hgroup>
    <form name="login-form" enctype="multipart/form-data" id="login-form" class="form-is-centered form-is-block"
      action="/" method="post">
      <label class="form-field" for="username">Enter your username:</label>
      <div class="form-field">
        <input title="<%= usernameValidation.message %>" pattern="<%= usernameValidation.pattern %>" type="text"
          id="username" name="username" maxlength="32" required />
      </div>
      <label class="form-field" for="password">Enter your password:</label>
      <div class="form-field">
        <input title="<%= passwordValidation.message %>" pattern="<%= passwordValidation.pattern %>" type="password"
          id="password" name="password" maxlength="32" required />
      </div>
      <div class="form-field">
        <button class="button" type="submit"> Log in</button>
      </div>
    </form>
  </article>

  <article id="register-block">
    <hgroup class="title-group">
      <h2 class="title-is-3">Sign Up</h2>
      <p>Create a new account</p>
    </hgroup>
    <form id="register-control" class="form-is-centered form-is-block" action="/new" method="get">
      <div class="form-field">
        <button class="button is-medium is-link" type="submit">Register</button>
      </div>
    </form>
  </article>


  <article id="guest-block">
    <% if(!loggedIn) { %>
    <hgroup class="title-group">
      <h2 class="title-is-3">Guest Login</h2>
      <p>No signup needed</p>
    </hgroup>
    <form id="guest-control" class="form-is-centered form-is-block" action="/new" method="post">
      <input type="hidden" id="guest_username" name="username" value="guest" />
      <div class="form-field">
        <button class="button is-medium is-link" type="submit">Continue</button>
      </div>
    </form>
    <% } else { %>
    <hgroup class="title-group">
      <h2 class="title-is-3">Howdy Stranger</h2>
      <p>if you don't want to log in for real, that's still an option</p>
    </hgroup>
    <form id="guest-control" class="form-is-centered form-is-block" action="/games" method="get">
      <div class="form-field">
        <button class="button is-medium is-link" type="submit">Back to games</button>
      </div>
    </form>
    <% } %>
  </article>


</main>

<script type="module" src="/javascripts/login.mjs"></script>
<%- include("../footer"); -%>